.overlay{
    background:transparent url('img/overlay.png') repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
   }

.nonebox{
     position:fixed;
     top:-1000px;
     left:35%;
     right:35%;
     background:#fff;
     color:#4d4d4d;
     padding:25px;
     border:5px solid #e4e4e4;
     width:25%;
     z-index:101;
}

a.box-close{
  float:right;
  width:26px;
  height:26px;
  height:26px;
  background:url('img/close.png') repeat top left;;
  margin:-30px -30px 0px 0px;
  cursor:pointer;
  display:block
}

.left
{
    font-size: 24px;
    float: left;
}

.help
{
    margin-top: 200px;
}
